@import url("../CSS/fonts.css");

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    font-family: Lato-Light, sans-serif;
}

a{
    color: #262626;
    /*color: #fff;*/
    text-decoration: none;
}

ul{
    list-style: none;
}

.container{
    width: 90%;
    height: 100%;
    max-width: 1100px;
    margin: auto;
}

/* Main */
.main{
    height: 100vh;
    background: #f4f4f4 url("../Assets/Images/UserBG.jpg") no-repeat center center/cover;
    position: relative;
    overflow: hidden;
}

.main .container{
    /*height: 100%;*/
    position: relative;
}

/* Main -> Nav */
.main-nav{
    height: 60px;
    padding: 20px 0;
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /*backdrop-filter: blur(20px);*/
}

.main-nav a{
    color: #fff;
}

.main-nav ul{
    display: flex;
}

.main-nav ul li{
    margin: 0 5px;
    padding: 0 10px;
    width: 40px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    border-radius: 50%;
    background-color: rgba(128, 128, 128, 0.3);
    backdrop-filter: blur(20px);
    cursor: pointer;
    transition: .2s;
}

.main-nav ul li:hover{
    color: #000;
    border-radius: 0%;
    background-color: #fff;
    backdrop-filter: blur(0px);
    transition: .2s;
}

/* Main -> Showcase */
.showcase{
    height: 500px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.showcase .title{
    padding: 80px 50px;
    text-align: center;
    border-radius: 20px;
    color: #fff;
    backdrop-filter: blur(3px);
}

.showcase .title h1{
    margin: 10px 0;
    font-family: Fontdiner-Swanky;
    font-size: 3rem;
    font-weight: 200;
    letter-spacing: .1em;
}

.showcase .title p{
    font-family: Fira-Code, sans-serif;
    font-size: 13px;
}

/* Main -> Footer */
.main footer{
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 15px 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.main footer span{
    display: block;
    margin: -2px;
    width: 10px;
    height: 10px;
    border-bottom: 2px solid #fff;
    border-right: 2px solid #fff;
    transform: rotate(45deg);
    animation: animate-down-arrow 2s infinite;
}

.main footer span:nth-child(2){
    animation-delay: -0.2s;
}

.main footer span:nth-child(3){
    animation-delay: -0.4s;
}

@keyframes animate-down-arrow{
    0%{
        opacity: 0;
        transform: rotate(45deg) translate(-15px, -15px);
    }
    50%{
        opacity: 1;
    }
    100%{
        opacity: 0;
        transform: rotate(45deg) translate(5px, 5px);
    }
}

/* Profile */
.profile{
    display: none;
    top: 0;
    right: 0;
    width: 400px;
    height: 100%;
    position: absolute;
    background: rgba(128, 128, 128, .2);
    backdrop-filter: blur(10px);
    color: #fff;
    font-family: Fira-Code;
}

.profile a{
    color: #fff;
}

.show-profile{
    display: block;
    animation-name: animate-profile-IN;
    animation-duration: .4s;
}

@keyframes animate-profile-IN{
    from {
        right: -400px;
    }
    to {
        right: 0;
    }
}

.profile-container{
    margin: 0 auto;
    width: 90%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.profile .close-btn{
    width: 30px;
    height: 30px;
    line-height: 30px;
    margin-top: 10px;
    text-align: center;
    border: 1px solid #fff;
    align-self: flex-end;
    cursor: pointer;
    transition: all .2s;
}

.profile .close-btn:hover{
    background: tomato;
}

.profile .profile-info{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.profile .profile-info span{
    margin: 30px 0 20px;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    text-align: center;
    font-size: 80px;
    background: rgba(255, 255, 255, 0.3);
    overflow: hidden;
}

.profile .profile-info span .show-avatar-icon{
    line-height: 200px;
}

.profile .profile-info span img{
    width: 100%;
    height: 100%;
    /* transform: translateY(-200px); */
    object-fit: cover;
}

.profile .profile-info h1{
    font-size: 30px;
    font-weight: lighter;
    margin-bottom: 5px;
}

.profile .profile-info h6{
    font-size: 14px;
    font-weight: lighter;
    margin-bottom: 20px;
}

.profile .options{
    margin: 20px 0;
    list-style: none;
}

.profile .options .option-item{
    margin-bottom: 20px;
    padding: 5px 0;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    /*border: 1px solid #fff;*/
}

.profile .options .option-item .icon{
    margin-right: 20px;
    width: 45px;
    height: 45px;
    line-height: 45px;
    text-align: center;
    border: 1px solid #fff;
    border-radius: 50%;
}

.profile .options .option-item h4{
    font-weight: lighter;
    font-size: 1.1rem;
    letter-spacing: .06em;
}

.profile .options .option-item:hover{
    background: rgba(0, 0, 0, .2);
    cursor: pointer;
}

/* About */
.about{
    background: rgb(247, 235, 243) url("../Assets/Images/Pattern.png") repeat fixed center center;
    background-blend-mode: soft-light;
}

.about .info{
    margin: auto;
    max-width: 800px;
    padding: 20px 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: Fira-Code;
    text-align: justify;
}

.about .info h1{
    font-family: Geo;
    font-size: 30px;
}

.about .info h2{
    font-family: Fredericka-The-Great;
    font-size: 60px;
    font-weight: 100;
}

.about .info p{
    font-size: 16px;
    font-weight: bold;
}

/* Blogs */
.blogs{
    padding: 10px 0;
}

.blogs h1{
    padding: 10px 0;
    font-family: Fontdiner-Swanky;
    font-size: 30px;
    text-align: center;
}

.blogs .blog-cards{
    /*height: 100vh;*/
    padding: 20px 0;
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-auto-rows: 200px;
    grid-auto-flow: dense;
}

/* Blogs -> Card */
.card{
    position: relative;
    overflow: hidden;
    border-radius: 10px;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, .7);
    /*cursor: pointer;*/
}

.card img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    transform: scale(1.3);
    transition: all .2s ease-out;
}

.card .card-info{
    left: 0;
    bottom: 0;
    width: 100%;
    position: absolute;
    padding: 3px 30px;
    color: #fff;
    display: flex;
    flex-direction: column;
    background: rgba(0, 0, 0, .3);
    backdrop-filter: blur(3px);
}

.card .card-info a{
    text-decoration: none;
    color: #fff;
}

.card .card-info h3{
    font-family: Fira-Code;
    font-size: 15px;
    font-weight: 100;
}

/* Blogs -> Card -> Hovers */
.card:hover img{
    transform: scale(1);
}

.card:hover .card-info{
    height: 100%;
    justify-content: center;
    align-items: center;
    animation: animate-card-hover .2s ease-in;
}

.card:hover .card-info h3{
    font-size: 1.4rem;
    padding-bottom: 10px;
    border-bottom: 3px solid #fff;
}

@keyframes animate-card-hover{
    0%{
        opacity: 0;
    }
    50%{
        opacity: 0.8;
    }
    100%{
        opacity: 1;
    }
}

/* Vertical Card, Horizontal Card and Big Card */
.card.c-h{
    grid-column: span 2;
}

.card.c-v{
    grid-row: span 2;
}

.card.c-b{
    grid-column: span 2;
    grid-row: span 2;
}

/* Footer */
.main-footer{
    height: 100px;
    background: #000;
    color: #fff;
}

.main-footer a{
    color: #fff;
}

.social-icons{
    padding: 20px 0;
    list-style: none;
    display: flex;
    justify-content: center;
}

.social-icons li{
    margin: 0 5px;
}

.social-icons li a{
    width: 40px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    display: block;
    border: 1px solid #fff;
    border-radius: 50%;
    transition: all .2s ease-in-out;
}

.social-icons li a:hover{
    border-radius: 0;
    background-color: #fff;
    color: #000;
}

.main-footer h3{
    font-family: Fira-Code;
    font-weight: lighter;
    font-size: 13px;
    text-align: center;
}

/* Utils */
.modal-window{
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, .4);
}

.modal-window .modal-content{
    position: relative;
    background-color: #fefefe;
    margin: auto;
    padding: 0;
    border: 1px solid #888;
    width: 70%;
    max-width: 640px;
    min-height: 50px;
    box-shadow: 5px 7px 20px rgba(0, 0, 0, .5);
    text-align: center;
}

.modal-content p{
    font-size: 1.3rem;
}

.modal-content .modal-header{
    padding: 2px 16px;
    background: #5cb85c;
    color: #fff;
    display: flex;
    justify-content: space-between;
}

.modal-header .close{
    margin-right: -10px;
    color: #fff;
    font-size: 28px;
    font-weight: bold;
}

.modal-content .close:hover, .modal-content .close:focus{
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.modal-content .modal-body{
    padding: 10px 16px;
    min-height: 50px;
}

.modal-content .modal-footer{
    padding: 2px 16px;
    background: #5cb85c;
    color: #fff;
}

.modal-window.show{
    display: block;
}

.modal-window.show .modal-content{
    animation-name: animate-modal-window;
    animation-duration: .4s;
}

@keyframes animate-modal-window {
    from {
        top: -300px;
        opacity: 0;
    }
    to {
        top: 0;
        opacity: 1;
    }
}

/* Responsive media query */
@media only screen and (max-width:900px) {
    .blogs .blog-cards{
        gap: 10px;
        grid-template-columns: repeat(2, 1fr);
    }

    .blogs .blog-cards .card.c-h{
        grid-column: span 1;
    }
    .blogs .blog-cards .card.c-b{
        grid-column: span 1;
        grid-row: span 2;
    }
}

@media only screen and (max-width:550px) {
    .profile{
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        width: 100%;
    }

    .blogs .blog-cards{
        gap: 10px;
        grid-template-columns: 1fr;
        grid-auto-flow: row;
    }

    .blogs .blog-cards .card.c-h{
        grid-column: span 1;
    }
    
    .blogs .blog-cards .card.c-v{
        grid-row: span 1;
    }
    
    .blogs .blog-cards .card.c-b{
        grid-column: span 1;
        grid-row: span 1;
    }
}